@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/*register form style*/
.card{
  box-shadow: 0 0 2px gray;
  padding: 3px;
  border-radius: 0 !important;
  background-color: white;
}
.card-title{
  font-size: 1.5rem;
  font-weight: bold;
}
.normal-text{
  font-size: 1rem;

}


/* Entity Style*/
input{
  border-radius: 2px !important;
  border: 1px solid rgba(159, 147, 147, 0.61) !important;
  height: 40px !important;
}
input:focus{
  outline: none;
  box-shadow: none;
  border: 1px solid gray;
}
label{
  font-size: 18px !important;
  color: black;
  background-color: white;

}
.ant-form-iten{
  margin: 15px 0 !important;
  background-color: white;


}
.btn{
  background-color: #005555;
  border-color: #005555;
  height: 40px;
  width: 100%;
  color: white;
  font-size: 18px;
}
.directLogIn{
  color: black;
  text-decoration: underline;
  font-size: 16px;
}
.directLogIn:hover{
  text-decoration: underline;
}
/*register*/
.register{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.registerform{
  width: 400px;
}
.card-title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orangered;
  color: white;
  max-width: max-content;
  padding: 7px 15px;
  margin-left: -30px;
  border-bottom-left-radius: 12px;
}
body{
  font-family: "Rubik", sans-serif;
  background-color: #005555;
  
}

